<div id="header">
	<div class="row">
		<p>Name:</p>
		<p><%= @borrower.first_name %> <%= @borrower.last_name %></p>
	</div>
	<div class="row">
		<p>Amount Need:</p>
		<p><b>$<%= @borrower.money %></b></p>
	</div>
	<div class="row">
		<p>Amount Raised:</p>
		<p><b>$<%= @borrower.raised %></b></p>
	</div>
</div>


 
<div class="help fw">
	<h1>Your Lenders:</h1>
	<table>
		<tr>
			<th class="name">Name</th>
			<th class="email">Email</th>
			<th class="lent">Amount Lent</th>
		</tr>
		<% if @helper %>
			<% @helper.each do |lender| %>
				<% if lender.history.where(:borrower_id=>current_user.id).sum(:amount) >0 %>
					<tr>
						<td><%= lender.first_name %> <%= lender.last_name %></td>
						<td><%= lender.email %></td>
						<td><%= lender.history.where(:borrower_id=>current_user.id).sum(:amount) %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</table>
</div>
