<div class="header">
	<div class="row">
		<p>Name:</p>
		<p><%= @lender.first_name %> <%= @lender.last_name %></p>
	</div>
	<div class="row">
		<p>Account Balance:</p>
		<p><b>$<%= @lender.money %></b></p>
	</div>
</div>


<div class="help">
	<h1>List of people in need of help:</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Need Money for</th>
			<th>Reason for Loan</th>
			<th>Amount Needed</th>
			<th>Amount Raised</th>
			<th>Action</th>
		</tr>
		<% if @help %>
			<% @help.each do |borrower| %>
				<tr>
					<td><%= borrower.first_name %> <%= borrower.last_name %></td>
					<td><%= borrower.purpose %></td>
					<td><%= borrower.description %></td>
					<td><%= borrower.money %></td>
					<td><%= borrower.raised %></td>
					<td>
						<form action="/lend" method="post">
							<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
							<input type="hidden" name="params[borrower_id]" value="<%= borrower.id %>">
							<input type="number" min="0" step="1" name="params[money]" value="25"><br>
							<input type="submit" value="Lend">
						</form>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>

<div class="help">
	<h1>List of People you lend money to:</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Need Money for</th>
			<th>Reason for Loan</th>
			<th>Amount Needed</th>
			<th>Amount Raised</th>
			<th>Amount Lent</th>
		</tr>
		<% if @helped %>
			<% @helped.each do |borrower| %>
				<tr>
					<td><%= borrower.first_name %> <%= borrower.last_name %></td>
					<td><%= borrower.purpose %></td>
					<td><%= borrower.description %></td>
					<td><%= borrower.money %></td>
					<td><%= borrower.raised %></td>
					<td><%= @lender.history.where(:borrower_id=>borrower.id).sum(:amount) %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>