<div id="header">
	<div class="row">
		<p>Name:</p>
		<p><b><%= @lender.first_name %> <%= @lender.last_name %></b></p>
	</div>
	<div class="row">
		<p>Account Balance:</p>
		<p><b>$<%= @lender.money %></b></p>
	</div>
</div>


<div class="help fw">
	<h1>People Needing Loans:</h1>
	<table>
		<tr>
			<th class="name">Name</th>
			<th class="need">Need Money for</th>
			<th class="reason">Reason for Loan</th>
			<th class="needed">Amount Needed</th>
			<th class="raised">Amount Raised</th>
			<th class="action">Action</th>
		</tr>
		<% if @help %>
			<% @help.each do |borrower| %>
				<tr>
					<td><%= borrower.first_name %> <%= borrower.last_name %></td>
					<td><%= borrower.purpose %></td>
					<td><%= borrower.description %></td>
					<td><%= borrower.money %></td>
					<td><%= borrower.raised %></td>
					<td>
						<form action="/lend" method="post">
							<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
							<input type="hidden" name="params[borrower_id]" value="<%= borrower.id %>">
							<input type="number" min="0" step="1" name="params[money]" value="25" class="loanInput">
							<input type="submit" value="Lend" class="btn">
						</form>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>

<div class="help fw">
	<h1>People Loaned To:</h1>
	<table>
		<tr>
			<th class="name">Name</th>
			<th class="need">Need Money for</th>
			<th class="reason">Reason for Loan</th>
			<th class="needed">Amount Needed</th>
			<th class="raised">Amount Raised</th>
			<th class="lent">Amount Lent</th>
		</tr>
		<% if @helped %>
			<% @helped.each do |borrower| %>
				<tr>
					<td><%= borrower.first_name %> <%= borrower.last_name %></td>
					<td><%= borrower.purpose %></td>
					<td><%= borrower.description %></td>
					<td><%= borrower.money %></td>
					<td><%= borrower.raised %></td>
					<td><%= @lender.history.where(:borrower_id=>borrower.id).sum(:amount) %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>